<% if (NG.Store.ArticleSaved) {%>
	<div id="article-saved">Article Posted.</div>
<% } %>
<h3 class="article-show-title"><a href="<%=article.escape('url')%>" class="article-link"><%= article.escape("title") %></a></h3>
<pre class="article-body"><%= article.escape("body")%></pre>
