<p>"<%=snippet.escape("text")%>"</p>

<form class="new-annotation-form">
	<textarea id="new-annotation-text" placeholder="Say something insightful..."></textarea>
	<input type="submit" id="new-annotation-submit" value="submit">
</form>