<h2><%=user.get("username") %></h2>
<form id="update-password-form">
	<label for="new-password">Update Password</label>
	<input type="password" id="new-password" name="user[password]">	<input type="submit" value="Update Password">
</form>