/*.topbar {
	float:top;
	width: auto;
}
.topbar-button {
	float:left;
	margin: 5px;
}*/

#title {
	text-align: center;
	background-color: white;
	margin-bottom: 10px;
}

#IQ-points {
	font-color: white;
}

/*#user-info {
	float:right;
	margin-right: 200px;
}*/