<div class="new-annotation-form">
<label for="new-annotation-text">Annotation:</label>
<textarea id="new-annotation-text" name="snippet[annotation][body]"></textarea>
<button class="new-annotation-submit">Submit</button>

</div>